@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Oswald&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: tan;
    font-family: 'Lato', sans-serif;
    font-size: 2.5vh;
    height: 100vh;
    width: 100vw;
    display: flex;
}

a {
    text-decoration: none;
    color: rgb(215, 243, 221);
}

/* MAIN */
.main {
    margin-left: 25vw;
    width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4vw;
    line-height: 2;
}

.titleM {
font-size: 5vh;
}

.textM{
    font-size: 3.5vh;
    font-weight: 300;
}

.portM {
    margin-top: 5vh;
    font-size: 4vh;
    text-decoration: none;
    color:black
}

/* CONTACT */
.mainContact {
    width: 75vw;
    margin-left: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4vw;
    line-height: 2;
}

.titleC {
font-size: 5vh;
}

.textC{
    font-size: 3.5vh;
    font-weight: 300;
}

/* PORTFOLIO */
.mainPort {
    width: 75vw;
    display: flex;
    flex-direction: column;
    margin-left: 25vw;
    padding: 4vw;
    line-height: 2;
}

.titleP {
    font-size: 5vh;
    margin-top: -2vw;
}

.textP{
    font-size: 2.2vh;
    font-weight: 300;
}

.TtextP{
    font-size: 2.5vh;
    font-weight: 400;
}

.linksP {
   
    display: flex;
    justify-content: space-around;
}

.lP {
    font-size: 3vh;
    color: rgb(38, 131, 122);
}

.imgP {
    height: 60vh;
}


/* SD */

.sidebar {
    margin: 0;
    background-color: #ffffff6b;
    color: white;
    background-image: url(images/photo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 25vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: -webkit-sticky;
  position: fixed;
  top: 0;
  left:0;
}

.heading {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2vh;
}

.title {
    font-family: 'Oswald', sans-serif;
    font-size: 6vh;
    line-height: 1.1;
    margin-left: 2vh;
    margin-bottom: 3vh;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 5vh;
    line-height: 2;
}

/* IMG */

.profile {
    border-radius: 50%;
    height: 25vh;
    margin-bottom: 1vh;
}

.icon {
    width: 2vw;
    max-height: 3vh;
    margin-right: 3vw;
}