@import url('https://fonts.googleapis.com/css?family=Lato|Oswald&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: tan;
    font-family: 'Lato', sans-serif;
    font-size: 2.5vh;
    height: 100vh;
    width: 100vw;
    display: flex;
}

.heading {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2vh;
}

.sidebar {
    margin: 0;
    background-color: #ffffff6b;
    color: white;
    background-image: url(images/photo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 25vw;
}
.main {
    width: 75vw;
}

a {
    text-decoration: none;
    color: rgb(215, 243, 221);
}

/* a:hover {
    color: rgb(250, 243, 153);
} */

.title {
    font-family: 'Oswald', sans-serif;
    font-size: 6vh;
    line-height: 1.1;
    margin-left: 2vh;
    margin-bottom: 3vh;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 5vh;
    line-height: 2;
}
.profile {
    border-radius: 50%;
    height: 25vh;
    margin-bottom: 1vh;
}